.navbar{
    background-color: azure;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    list-style-type: none;
    display: flex;
}
.nav-item{
    padding: 5px 15px;
}
/* #search{
    flex: 1;
} */
#search-box{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: azure;
}